body
    background: darkgrey

#clock

.zindex2
    z-index: 2

.zindex3
    z-index: 3

.zindex1
    z-index: 1

.tlWA
    top: 200px
    left: 200px

.tlNY
    top: 200px
    left: 500px

.tlTO
    top: 200px
    left: 1100px

.tlLO
    top: 200px
    left: 800px

.city
    position: relative
    margin: auto

.clock
    position: absolute

img
    height: 200px

.name
    position: absolute
    font-size: 30px
    width: 200px
    text-align: center

.nameTop
    top: 150px

#main
    margin: auto
    position: relative
    width: 1400px